:root{
  --principalColor: #336799;
  --lighterPrincipalColor: #3367998c;
  --mostLighterPrincipalColor: #3367994a;
}

.App {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, p, span, a, button, th, td {
    font-family: 'Chakra Petch', sans-serif !important;
    color: var(--principalColor) ;
}

a {
  text-decoration-line: none;
}

button {
  background-color: var(--principalColor) ;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: var(--principalColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.general-container {
  width: 100%;
  margin: 0 auto;
}

.detail-container {
  width: 1000px;
  margin: 0 auto;
}

.navbar-container {
  width: 100%;
}

.table-footer-custom{
  border-top: 2px solid var(--lighterPrincipalColor);
}

.table-footer-custom td{
  font-size: larger;
  font-weight: 600;
}
